<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Enchere Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    
</head>

<body>
    <h1>Admin - Accueil Enchere</h1>

    <ul>
        <li><a href="/statistique">Voir Statistique</a></li>
        <li><a href="/rechargement">Rechargement Compte Client</a></li>
        <li><a href="/accueil">Ajouter Produit/Categorie</a></li>
    </ul>


    <h4>Ajouter Produit</h4>

    <h4>Nom : </h4>
    <input type="text" id="produit" name="nomProduit" placeholder="Nom Produit" value="produitTest">

    <select name="idCategorie" id="idCategorie">
        <option th:each="categorie : ${categories}" th:text="${categorie.nom}" th:value="${categorie.id}"></option>
    </select>
    <button onclick="insertProduit()">Ajouter Produit</button>

    <h4>Ajouter CategorieProduit</h4>

    <h4>Nom : </h4>
    <input type="text" id="categorie" name="nomCategorie" placeholder="Nom Categorie" value="categorieTest">
    <button onclick="insertCategorie()">Ajouter</button>

    <p>
        <a href="/">Deconnexion</a>
    </p>

    <script type="text/javascript">

        function insertProduit() {
            var produit = document.getElementById("produit").value;
            var idCategorie = document.getElementById("idCategorie").value;
            var xhr = new XMLHttpRequest();
            var url = "http://localhost:8080/produits?nom=" + produit + "&idCategorie=" + idCategorie;
            xhr.open("POST", url, true)
            xhr.send();
            produit.value = "nomProduit";
        }

        function insertCategorie() {
            var categorie = document.getElementById("categorie").value;
            var xhr = new XMLHttpRequest();
            var url = "http://localhost:8080/categories?nom=" + categorie;
            xhr.open("POST", url, true)
            xhr.send();
            categorie.value = "categorieTest";
        }
    </script>

</body>

</html>