<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Admin - Enchere</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>

	<form action="/login" method="post">
		<h2>ENCHERE - BACKOFFICE</h2>
		<p>Email : </p>
		<input type="email" name="email" placeholder="Email" value="Enchere@gmail.com" required>
		<p>Password : </p>
		<input type="password" name="mdp" placeholder="Password" value="mdp123" required>
		<p><input type="submit"></p>
	</form>
</body>

</html>