<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <title>Enchere Admin</title>
        <!-- <script type="text/javascript" src="demo/target/classes/templates/pages/js/vanilla.js" ></script> -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

    </head>

    <body>
        <h1>Admin - RechargementCompte</h1>

        <ul>
            <li><a href="/statistique">Voir Statistique</a></li>
            <li><a href="/rechargement">Rechargement Compte Client</a></li>
            <li><a href="/accueil">Ajouter Produit/Categorie</a></li>
        </ul>

        <h4>RechargementCompteClient</h4>

        <table border="1" style="border-collapse: collapse;">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Date</th>
                <th>Montant actuel</th>
                <th>Recharge</th>
            </tr>

            <tr th:each="rechargementCompte : ${rechargementComptes}">
                <td th:text="${rechargementCompte.nom}"></td>
                <td th:text="${rechargementCompte.prenom}"></td>
                <td th:text="${rechargementCompte.email}"></td>
                <td th:text="${rechargementCompte.dateRechargementCompte}"></td>
                <td th:text="${rechargementCompte.solde}"></td>
                <td th:text="${rechargementCompte.montant}"></td>
                <td>
                    <a
                        th:href="@{/rechargerCompteClient(id=${rechargementCompte.id},idClient=${rechargementCompte.idClient},montant=${rechargementCompte.montant})}">
                        <button>Valider Rechargement</button>
                    </a>
                </td>
            </tr>
        </table>



        <script type="text/javascript">

        </script>

    </body>

</html>