<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Enchere Admin</title>
        <!-- <script type="text/javascript" src="demo/target/classes/templates/pages/js/vanilla.js" ></script> -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />

    </head>
    <body>
        <h1>Admin - TableauStatistique</h1>

        <ul>
            <li><a href="/statistique">Voir Statistique</a></li>
            <li><a href="/rechargement">Rechargement Compte Client</a></li>
            <li><a href="/accueil">Ajouter Produit/Categorie</a></li>
        </ul>

        <h4>Nbre Acheteur</h4>

        <table border="1" style="border-collapse: collapse; width: 100%; text-align: center;">
            <tr style="background-color: lightgray;">
                <th>Enchere Num</th>
                <th>Description</th>
                <th>Nom Produit</th>
                <th>Categorie</th>
                <th>Nbre Acheteur</th>
            </tr>
        
            <tr th:each="nbAcheteurProduit : ${nbAcheteurProduits}" style="background-color: whitesmoke;">
                <td th:text="${nbAcheteurProduit.idEnchere}" ></td>
                <td th:text="${nbAcheteurProduit.description}" ></td>
                <td th:text="${nbAcheteurProduit.nomProduit}" ></td>
                <td th:text="${nbAcheteurProduit.nomCategorie}" ></td>
                <td th:text="${nbAcheteurProduit.nbAcheteur}" ></td>
            </tr>
        </table>
        


        <script type="text/javascript">

        </script>

    </body>
</html>