body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0;
}

li {
    margin: 10px;
}

h4 {
    margin-top: 30px;
}

input[type="text"],
select {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

a {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    color: blue;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #f2f2f2;
    padding: 1em 2em;
}

.nav-item {
    margin: 0 1em;
}

.nav-link {
    color: #333;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}